
<!DOCTYPE html>
<html lang="en">
  <head>  
  <meta charset="utf-8">  
 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <title>Sample bootstrap Framework...check out the pic in your browser</title>
    <script src="https://use.fontawesome.com/9e3001537a.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
    <link href="css/main.css" rel="stylesheet">  
  </head> 
 
  <body ng-app="firstApplication"> <!-- adding angular for form validation -->

      <div class="container main-container container-fluid">
        <div class="iamyowrapper">
          <div class="row tps">
            <div class="col-md-2">
              <img src="img/logo.png">
            </div>

            <!-- social media icons  -->
            <div class="col-md-4 col-md-offset-6">
              <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>    
              <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
              <i class="fa fa-dribbble fa-3x" aria-hidden="true"></i>
              <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
              <i class="fa fa-vimeo fa-3x" aria-hidden="true"></i>

            </div>
          </div> 



          <div class="col-md-8 top-heading">
            <h1>This is just a sample website with all the the breadcrums.</h1>
            <h2>Have a project for me? <strong>Lets Talk <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></strong></h2>
          </div>
          <!-- yellow circle row start  -->
          <div class="col-md-12 arrow-down text-center">
            <section id="someID"class="circle-class">
              <i class="fa fa-angle-down fa-4x" id="red-arrow" aria-hidden="true"></i>
            </section>
          </div> <!-- end of yellow circle -->
        </div>


<!-- End of blue area -->
        <!-- Genie row start -->
        <div class="row">
          <div class="col-md-6 genie-square">
          
              <div class="child1 container">
                <h2>Genie</h2> 
                <h5>Project</h5>
                <p> Magic Scheduling. Smart calander designing</p>
                <p>HOVER OVER ME  <i class="fa fa-chevron-right" aria-hidden="true"></i></p>            
              </div>
              <div class="child2">
                <img src="img/iphone-images.png">
              </div>
         
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 yellow-square text-center">
          <img src="img/yellow-award.png">
          <h3>Website of the day </h3>
          <p>Design of the day</p>
          
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 white-square text-center">
         <img src="img/white-award.png">
         <h3>Special mention</h3>
         <p>AWWWARDS</p>
          
        </div>
        
      </div><!-- genie row end  -->

      <!-- 2k Row -->
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 dark-blue">
            <img src="img/2k-logo_03.png">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 white-square house-img">
            <img src="img/office-room_02.png">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 white-square dehner">
            <img src="img/blue-video_03.png">
            <!-- envelop -->
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 pink-square">
            <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
            <p>2027</p>
            <h3>I rotate clockwise  when you bring your mouse to me</h3>
           
            <!-- pink -->
          </div>
        </div>

      </div>
      <!-- twitter row -->
      <div class="row">
        <div class="col-md-6 big-blue-square">
            <div class="child2">
              <h3>ESPN RIO 2016</h3>
              <p>We created graphic for espn 2016</p>
              <p>View Case Study</p>
            </div>
            <img src="img/rio-graphic_03.png">
        </div> 

        <div class="col-md-3 col-sm-6 col-xs-12 twitter-square">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            <p>I zoom in and out if you bring your mouse to me</p>
        </div>
             
        
        <div class="col-md-3 col-sm-6 col-xs-12 facebook-square">
            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            <p>6708 </p>
            <h3>I rotate counter clockwise</h3>
        </div>
      </div>

      <!-- Educate yo self -->

      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 white-square application-square">
            <img src="img/letter-img_02.png">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 white-square weird-square">
            <img src="img/letter-second_02.png">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 light-blue-square">
            <img src="img/slack-type_03.png">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 twitter-square">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <p>i zoom in an out if you bring your mouse to me</p>
          </div>
      </div>
      <!-- Espn row -->

      <div class="row">
          <div class="col-md-6 orange-square">
            <div class="child3">
              <h3>ESPN </h3>
              <p>We created graphic for espn 2016</p>
              <p>Hover over me to see pure css animation</p>
            </div>
            <img src="img/autotunes_01.png">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12  explosion-square">
            <img src="img/head-explode.png">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 gif-square">
             <img src="img/beard-guy.png">
          </div>
          
      </div>
      <div class="row">
          <a id="plus-hover">
            <div class="col-md-12 yellow-rectangle">
              <span class="black-circle">+</span>
            <h2 class="space-between">hover over me to see simple js and css animation</h2>
            </div>
          </a>
      </div>
    <div class="container bottom-area-container" id="bottomContainer"><!-- about us and contact us container -->
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about-us">
          <h3>About Us</h3>
          <p>This is just a clone of this digital agencys website with full functionality and effects that are available on their main site</p>
          <p>I really liked the animation and the websites layout so I chose this website to shocase my talent. All the code is my own</p>

          <!-- social media icons  -->
          <div class="social-media-bottom">
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>    
            <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
            <i class="fa fa-dribbble fa-3x" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
            <i class="fa fa-vimeo fa-3x" aria-hidden="true"></i>

          </div>

        </div>
        <div class="col-lg-6 col-md-6 col-md-6 col-sm-6 col-xs-12 ">
          <h3>Contact </h3>
          <p>This contact form is build in angular. Its just for demo purpose.</p>
        </div>
         <div id="inputContainer" class="inputDemo" ng-controller="inputController as ctrl" ng-cloak>
         <md-content layout-padding>
            <form name="projectForm">
               <md-input-container class="md-block">
                  <label>Name</label>
                  <input required name="name" ng-model="project.name">
                  <div ng-messages="projectForm.userName.$error">
                     <div ng-message="required">This is required.</div>
                  </div>
               </md-input-container>
               <md-input-container class="md-block">
                  <label>Email</label>
                  <input required type="email" name="userEmail" ng-model="project.userEmail"
                     minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                  <div ng-messages="projectForm.userEmail.$error" role="alert">
                     <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and should be a valid email address.
                     </div>
                  </div>
               </md-input-container>
               <md-input-container class="md-block">
                  <label>Message</label>
                  <input md-maxlength="300" required name="message" ng-model="project.message">
                  <div ng-messages="projectForm.comments.$error">
                     <div ng-message="required">This is required.</div>
                     <div ng-message="md-maxlength">The comments has to be less than 300 characters long.</div>
                  </div>
               </md-input-container>     
            </form>
         </md-content>
      </div>
      </div>
    </div>




</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

   <script src="js/angular.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/myScript.js"></script>

   
    
  </body>
</html>
